{
	"semi": false,
	"useTabs": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"trailingComma": "all",
	"proseWrap": "always",
	"endOfLine": "lf",
	"printWidth": 90,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
